.container {
    width: 100%;
    margin: 0;
    padding: none;
    float: left;
}

section .logo {
    float: left;
    position: static;
    width: 100%;
    margin: 0;
    padding: none;
    margin-bottom: 5%;
}

p {
    margin: 5%;
    font-size: 2vw;
    text-align: left;
}

p a {
    color: black;
}

p a:hover {
    color: rgba(0,0,0,.8)
}

/* TABLETS */

@media(max-width: 860px){
    p {
        font-size: 2.5vw;
    }
}

/* MOBILE */

@media(max-width: 580px) {
    p {
        font-size: 3.2vw;
    }